HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/iq/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/iq/**/build/

### VS Code ###
.vscode/


### PROJECT ###
/PostgreSQL/iq.txt
/src/main/resources/application.properties
GrumpsWeb/src/main/resources/application.properties
GrumpsBot/src/main/resources/application.properties
GrumpsTwitchBot/src/main/resources/application.properties
